@import "tailwindcss";

/* Point to your components folder exactly */
@source "./src/**/*.{js,jsx,ts,tsx}";

@theme {
  /* Default Theme Settings */
}

/* THE FIX: This ensures that any class starting with 'dark:' 
   only triggers when the .dark class is on the <html> tag */
@variant dark (.dark &);

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  transition: background 0.5s ease-in-out;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield; /* Standard property for future-proofing */
}